.DashboardWrapper{
    display: grid;
    grid-template-rows: 19vmin 89vmin 11vmin;
}

.DashboardHeaderContainer{
    background-color: #865BE3;
    width: 100vw;
    display: grid;
    border-bottom-left-radius: 3vmin;
    border-bottom-right-radius: 3vmin;
    color: #000;
    grid-template-columns: 36vw 63.9vw;
    align-items: center;
    user-select: none;
}

.DashboardHeaderContainerText{
    font-family: 'Public Pixel', sans-serif;
    display: grid;
    align-items: center;
    margin-top: 6vmin;
}

.DashboardHeaderContainerText h1{
    font-family: 'Public Pixel', sans-serif;
    font-size: 3.2vw;
    letter-spacing: 0.48vw;
    margin-left: 2.2vw;
}

.DashboardHeaderContainerAnimation{
    display: grid;
    justify-content: end;
    padding-right: 2.2vw;
    margin-top: -6vmin;
}

.DashboardBlocks{
    display: grid;
    grid-template-columns: 55vw 44vw;
    justify-items: start;
}

.DataBlockText{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 275;
    font-size: 2.75vw;

    margin-top: 3.6vmin;
    display: grid;
    justify-content: start;
}

.DataBlockText:nth-child(2){
margin-left: 1vw;
}

.ProtocolDataBlock{
    width: 53vw;
    display: grid;
    grid-template-columns: 25.3vw 27vw;
    grid-template-rows: 10vmin 5vmin 22vmin 25vmin 25vmin;
    margin-left: 1.5vw;
}

.DashboardActiveStrategy{
    grid-area: 5;
}

.DashboardTotalValueBlock{
    grid-area: 3;
}