.DashboardWrapper{
    display: grid;
    grid-template-rows: 19vmin 89vmin 11vmin;
}

.DashboardHeaderContainer{
    background-color: #865BE3;
    width: 100vw;
    display: grid;
    border-bottom-left-radius: 3vmin;
    border-bottom-right-radius: 3vmin;
    color: #000;
    grid-template-columns: 36vw 63.9vw;
    align-items: center;
    user-select: none;
}

.DashboardHeaderContainerText{
    font-family: 'Public Pixel', sans-serif;
    display: grid;
    align-items: center;
    margin-top: 6vmin;
}

.DashboardHeaderContainerText h1{
    font-family: 'Public Pixel', sans-serif;
    font-size: 3.2vw;
    letter-spacing: 0.48vw;
    margin-left: 2.2vw;
}

.DashboardHeaderContainerAnimation{
    display: grid;
    justify-content: end;
    padding-right: 2.2vw;
    margin-top: -6vmin;
}

.DashboardBlocks{
    display: grid;
    grid-template-columns: 54vw 45vw;
    justify-items: start;
}

.DashboardBlocks h2{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 275;
    font-size: 2.75vw;
    margin-left: 1.3vw;
    margin-top: 3.6vmin;
}