.wDubWrapper{
    display: grid;
    grid-template-rows: 19vmin 89vmin 11vmin;
}

.wDubHeaderContainer{
    background-color: #865BE3;
    width: 100vw;
    display: grid;
    border-bottom-left-radius: 3vmin;
    border-bottom-right-radius: 3vmin;
    color: #000;
    grid-template-columns: 18vw 82vw;
    align-items: center;
    user-select: none;
}

.wDubHeaderContainerText{
    font-family: 'Public Pixel', sans-serif;
    display: grid;
    align-items: center;
    margin-top: 6vmin;
}

.wDubHeaderContainerText h1{
    font-family: 'Public Pixel', sans-serif;
    font-size: 3.2vw;
    letter-spacing: 0.48vw;
    margin-left: 1.2vw;
}

.wDubHeaderContainerAnimation{
    display: grid;
    justify-content: end;
    padding-right: 1.2vw;
    margin-top: -3vmin;
}

.wDubBlockWrapper{
    display: grid;
    margin-top: 14.6vmin;
    justify-items: center;
    justify-content: center;
}
.wDubBlockContainer{
    background-color: #D9D9D9;
    display: grid;
    justify-items: center;
    justify-content: center;
    width: 44vw;
    border-radius: 2vmin;
    height: 71vmin;
    grid-template-rows: 18vmin 14vmin 8vmin 8vmin 13vmin 8vmin;
    align-items: center;
}

.wDubBlockContainer p{
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.83vw;
    font-weight: 500;
    line-height: 2.8vmin;
    margin-top: 3vmin;
    margin-left: 0.6vw;
    text-align: left;
    display: grid;
}

.wDubInputWrapper{
    display: grid;
    justify-items: start;
    color: black;
    margin-top: -1.3vmin;
}

.wDubInputWrapperText{
    color: black;
    margin-left: 2.5vw;
    margin-bottom: 0.7vmin;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    font-size: 1.047vw
}


.wDubInputContainer{
    width: 40.3vw;
    border-radius: 2.6vmin;
    height: 8.7vmin;
    padding: 0;
    margin: 0;
    border: 0.12vw solid black;
    border-bottom: black solid 0.27vw;
    outline: 0;
    background-color: #D9D9D9;
    display: grid;
    grid-template-columns: 9.5vw 19vw 10.7vw;
    justify-items: end;
}

.wDubInputContainer input {
    height: 7.8vmin;
    padding: 0;
    margin: 0;
    background-color: #D9D9D9;
    margin-top: 0.5vmin;
    border: 0;
    outline: 0;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    font-size: 1.047vw;
    padding-right: 4vw;
}

.wDubArrowContainer {
    display: grid;
    width: 43vw;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.wDubArrowContainer img{
    width: 3vw;
    height: 4.3vmin;
    margin-left: 0.5vw;

}

.wDubIconConatiner{
    width: 7vw;
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: 2.6vw 3vw;
    margin-left: 4vw;
    justify-items: start;
}

.wDubIconConatiner span{
    font-size: 1vw;
    font-weight: 700;
    width: 2.2vw;
    height: 2.7vmin;
    display: grid;
    align-content: center;
    align-items: center;
    padding-top: 0.1vmin;
}

.InputBalanceContainer{
    display: grid;
    justify-items: end;
    align-items: center;
    margin-right: 1vw;
    grid-template-rows: 5vmin 2vmin;
}

.InputBalanceContainer span{
 font-size: 1.1vw;
    font-weight: 700;
    margin-top: 0.57vmin;

}

.InputBalanceContainerAdditionalInfo{
    display: grid;
    grid-template-columns: 3.4vw max-content;
    justify-items: start;
    align-items: center;
}

.InputBalanceContainerAdditionalInfo span{
    font-size: 0.7vw;
    font-weight: 400;
    margin: 0;
    white-space: nowrap;
}

.wDubMaxBtn{
    background-color: #D9D9D9;
    outline: none;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    font-size: 0.75vw;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    padding: 0.1vmin 0.5vw;
    margin-left: -0.1vw;
    margin-top: -0.3vmin;
    border: 0.1vw solid black;
    border-radius: 0.7vmin;
    cursor: pointer;
    transition: all .2s;
    color: #000;
}

.wDubMaxBtn:hover{
    background-color: #8E68E6;
}

.SecondWDubIconConatinerText{
    color: #3A86D8;
    font-size: 1vw;
    font-weight: 700;
    width: 2.2vw;
    height: 2.7vmin;
    display: grid;
    align-content: center;
    align-items: center;
    padding-top: 0.1vmin;
}

.SecondInputBalanceContainer{
    margin-top: 0.8vmin;
}

.SecondInputBalanceContainerAdditionalInfo{
    font-size: 0.7vw !important;
    font-weight: 400 !important;
    margin: 0 !important;
    white-space: nowrap !important;
}



.wDubMetamaskWrapper{
    width: 33.3vw;
    height: 3vmin;
    margin-top: 1.7vmin;
}


.wDubMetamaskContainer{
    width: 9.8vw;
    height: 2.7vmin;
    display: flex;
    align-content: center;
    align-items: center;
    padding-top: 0.1vmin;
    justify-items: end;
    column-gap: 0.18vw;
    flex-wrap: nowrap;
    margin-left: -1vw;
}

.wDubMetamaskContainer span{
    color: #3A86D8;
    font-size: 1vw;
    font-weight: 700;
    align-items: center;
    display: grid;
    height: 2.7vmin;
}

.wDubMetamaskBtn{
    background-color: #D9D9D9;
    outline: none;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    font-size: 0.75vw;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    margin-left: 0.1vw;
    margin-top: -0.1vmin;

    padding: 0.2vmin 0.5vw;
    border: 0.1vw solid black;
    border-radius: 1vmin;
    cursor: pointer;
    display: flex;
    transition: all .2s;
    align-items: center;
    justify-content: center;
}

.wDubMetamaskBtn:hover{
    background-color: #8E68E6;
}

.wDubMetamaskBtn img{
    width: 1vw;
}

.wDubBtn{
    background-color: #8E68E6;
    color: #000;
    outline: none;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    padding: 0;
    margin: 0;
    width: 40.5vw;
    margin-left: 0.45vw;
    margin-top: -2.6vmin;
    height: 6.1vmin;
    border: 0.12vw solid black;
    border-bottom: black solid 0.27vw;
    border-radius: 2.7vmin;
    cursor: pointer;
    display: grid;
    align-items: center;
    align-content: center;
    transition: all .2s;
}

.wDubBtn:hover{
    background-color: #D9D9D9;
}