.wDubWrapper{
    display: grid;
    grid-template-rows: 11vmin 63vmin 9vmin;
}

.wDubHeaderContainer{
    background-color: #865BE3;
    width: 100vw;
    display: grid;
    border-bottom-left-radius: 3vmin;
    border-bottom-right-radius: 3vmin;
    color: #000;
    grid-template-columns: 18vw 82vw;
    align-items: center;
    user-select: none;
}

.wDubHeaderContainerText{
    font-family: 'Public Pixel', sans-serif;
    display: grid;
    align-items: center;
}

.wDubHeaderContainerText h1{
    font-family: 'Public Pixel', sans-serif;
    font-size: 3.2vw;
    letter-spacing: 0.48vw;
    margin-left: 1.2vw;
}

.wDubHeaderContainerAnimation{
    display: grid;
    justify-content: end;
    padding-right: 1.2vw;
    margin-top: -3vmin;
}

.wDubBlockWrapper{
    display: grid;
    margin-top: 10.4vmin;
    justify-items: center;
    justify-content: center;
}
.wDubBlockContainer{
    background-color: #D9D9D9;
    display: grid;
    justify-items: center;
    justify-content: center;
    width: 44vw;
    border-radius: 2vmin;
    height: 51vmin;
    grid-template-rows: 14vmin 6vmin 7vmin 7vmin 7.88vmin 4vmin;
    align-items: center;
}

.wDubBlockContainer p{
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.83vw;
    font-weight: 500;
    line-height: 2.1vmin;
    margin-top: 1vmin;
    margin-left: 0.6vw;
    text-align: left;
    display: grid;
}