.MintWrapper{
    display: grid;
grid-template-rows: 12vmin 63vmin 9vmin;
}

.MintHeaderContainer{
    background-color: #865BE3;
    width: 100vw;
    display: grid;
    border-bottom-left-radius: 3vmin;
    border-bottom-right-radius: 3vmin;
    color: #000;
    grid-template-columns: 18vw 82vw;
    align-items: center;
    user-select: none;
}

.MintHeaderContainerText{
    font-family: 'Public Pixel', sans-serif;
    display: grid;
    align-items: center;
}

.MintHeaderContainerText h1{
    font-family: 'Public Pixel', sans-serif;
    font-size: 3.2vw;
    letter-spacing: 0.48vw;
    margin-left: 2.2vw;
}

.MintHeaderContainerAnimation{
    display: grid;
    justify-content: end;
    padding-right: 1.2vw;
    margin-top: -3vmin;
}

.MintBlocks{
    display: grid;
    grid-template-columns: 26vw 27vw 45vw;
    margin: 9.5vmin 1vw 0 1vw;
}
.MintFirstBlocks{
    display: grid;
    grid-template-rows: 16vmin 19vmin 19vmin;
}



.TotalValueBlock{
    background-color: #E27759;
    border-radius: 1.7vmin;
    color: #000;
    display: grid;
    justify-items: start;
    align-items: center;
    justify-content: start;
    grid-template-rows: 9vmin 4vmin;
}

.TotalValueBlock h3{
    font-weight: 500;
    font-size: 1.1vw;
    margin-left: 1.3vw;
}

.TotalValueBlock h2{
     font-weight: 400;
    font-size: 3.4vw;
    margin-left: 1.5vw;

}

.ActiveStrategyBlock{
    background: url(../../assets/ActiveStategyBG.png);
    margin-top: 0.11vmin;
    display: grid;
    background-size: 100.15% 107%;
    border-radius: 1.7vmin;
    display: grid;
    justify-items: start;
    align-items: center;
    justify-content: start;
    grid-template-rows: 12vmin 1vmin;
}

.ActiveStrategyBlock h3{
    font-weight: 500;
    font-size: 1.1vw;
    margin-left: 1.3vw;
}

.ActiveStrategyBlock h2{
     font-weight: 400;
    font-size: 3.4vw;
    margin-left: 1.4vw;
    margin-top: -1vmin;

}




.container {
    display: grid;
    align-items: center;
  }
  
  .block {
    background-color: #8E68E6;
    border-radius: 1.7vmin;
    color: #000;
    display: grid;
    justify-items: start;
    align-items: center;
    justify-content: start;
    grid-template-rows: 7vmin 5vmin 2vmin;
    padding: 1vmin;

  }
  
  .block h2 {
    left: 0.6vw;
    font-size: 4vw;
    margin: 0;
    font-weight: 400;
    position: relative;
    white-space: nowrap;
  }
  
  .block h3 {
    left: 0.7vw;
    font-size: 1vw;
    margin: 0;
    position: relative;
    white-space: nowrap;
  }
  
  .toggle-container {

    position: absolute;
    left: 19vw;
    top: 77.12vmin;
  }
  
  .toggle {
    position: relative;
    display: flex;
    width: 6.4vw;
    height: 2.36vmin;
    background-color: #000;
    border-radius: 2vmin;
    cursor: pointer;
    align-items: center;
    align-content: center;
  }
  
  .knob {
    margin-left: 0.14vw;
    width: 2.8vw;
    height: 1.9vmin;
    border-radius: 2vmin;
    background-color: #8E68E6;
    display: grid;
    transition: all 0.25s ease-in-out;
    align-items: center;
    color: #fff;
    z-index: 1;
  }
  
  .knob.active {
    
    transform: translateX(3.35vw);
  }

  .label{
    display: grid;
    align-items: center;
    align-content: center;
  }
  
  .label span {
    font-weight: 500;
    font-size: 0.5vw;
    color: #fff;

  }
  
  .non-active-label{
    width: fit-content;
    transition: all 0.25s ease-in-out;
    transform: translateX(-2vw);
    font-weight: 500;
    font-size: 0.5vw;
    position: relative;
    bottom: -0.01vmin;
  }

  .non-active-label.active{
    width: fit-content;
    font-size: 0.5vw;
    transition: all 0.25s ease-in-out;
    transform: translateX(0.76vw);
  }

.ExchangeBlock{
    background-color: #E4D559;
    margin-left: 1vw;
    border-radius: 1.8vmin;
    height: 33.5vmin;
    color: #000;
    display: grid;
    align-items: end;
    grid-template-rows: 8.8vmin 17vmin 3.5vmin;
    justify-items: center;
  }
  
.ExchangeBlockText{
    display: grid;
    justify-items: center;
}

.ExchangeBlockText h3{
    font-size: 1.67vw;
    font-weight: 500;
  }

  .ExchangeBlock hr{
    margin: 0;
    margin-top: 1vmin;
    width: 20.5vw;
    text-align: center;
    border: 0;
    border-bottom: 0.2vmin solid black;
    outline: none;
  }
  .ExchangeBlockText hr{
    margin: 0;
    margin-top: 1vmin;
    width: 20.5vw;
    text-align: center;
    border: 0;
    border-bottom: 0.2vmin solid black;
    outline: none;
  }

.CurrencyExchangeSection{
    width: 21vw;
    display: grid;
    grid-template-rows: 4vmin 7.5vmin 2.5vmin;
    justify-items: center;
    align-items: center;
}

.CurrencyExchangeSectionBlock{
    display: grid;
    grid-template-columns: 2.8vw auto 8vw 0.3vw;
    padding-left: 1vw;
    padding-bottom: 1vmin;
    align-items: center;
    width: 19.7vw;
    border-bottom: 0.2vmin solid black;
    align-content: center;
}

.CurrencyExchangeSectionBlock:nth-child(3){

    border-bottom: 0;
    margin-top: 0.8vmin;

}

.CurrencyExchangeSectionBlock span{
    font-size: 0.95vw;
    font-weight: 400;
    margin-top: 0.2vmin;
    width: fit-content;
}
 .CurrencyExchangeSectionBlock span b{
    font-size: 0.97vw;
 }
 
.CurrencyExchangeSectionBlock svg{
    width: 2.3vw;
    height: 3vmin;
}



.CurrencyInfoWithIconBLock{
    display: grid;
    grid-template-columns: 2.6vw 5vw;
    align-items: center;
    align-content: center;
}

.CurrencyInfoWithIconBLock img{
    width: 2vw;
    height: 3vmin;
}



  .LiveRatesInfoContainer{
    font-size: 1.1vw;
    font-weight: 500;
    width: fit-content;
    display: flex;
    align-items: center;
    column-gap: 0.5vw;
    margin-left: 0.1vw;
  }




  /*Mint redeem input*/

  .MintRedeemBlockContainer {
    background-color: #D9D9D9;
    display: grid;
    justify-items: center;
    justify-content: center;
    width: 44vw;
    border-radius: 2vmin;
    height: 51vmin;
    grid-template-rows: 12vmin 8vmin ;
    align-items: center;
    margin-left: 1vw;
}

.MintRedeemBlockButtonsContainer{
    display: grid;
    grid-template-columns: 9.8vw 9.8vw;
    column-gap: 2.3vw;
}

.MintRedeemBlockButtonsContainer button {
    color: #000;
    outline: none;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    padding: 0;
    margin: 0;
    margin-left: 0.45vw;
    margin-top: -2.6vmin;
    height: 5.1vmin;
    border: 0.12vw solid black;
    border-bottom: black solid 0.27vw;
    border-radius: 2.7vmin;
    cursor: pointer;
    display: grid;
    align-items: center;
    align-content: center;
    transition: all .2s;
  }

  .redeem-button.active {
    background-color: #8E68E6;
    color: #000;
  }

  
  .mint-button.active {
    background-color: #8E68E6;
    color: #000;
  }

  
  .redeem-text {
    height: 10vmin;
    padding: 2vmin;
    margin-top: 2vmin;
    border-radius: 2vmin;
    background-color: lightgray;
  }
  
  .mint-text {
    height: 10vmin;
    padding: 2vmin;
    margin-top: 2vmin;
    border-radius: 2vmin;
    background-color: lightgray;
  }
