.MintWrapper{
  display: grid;
  grid-template-rows: 19vmin 89vmin 11vmin;
}



.MintHeaderContainer{
    background-color: #865BE3;
    width: 100vw;
    display: grid;
    border-bottom-left-radius: 3vmin;
    border-bottom-right-radius: 3vmin;
    color: #000;
    grid-template-columns: 18vw 82vw;
    align-items: center;
    user-select: none;
}

.MintHeaderContainerText{
  font-family: 'Public Pixel', sans-serif;
  display: grid;
  align-items: center;
  margin-top: 6vmin;
}

.MintHeaderContainerText h1{
    font-family: 'Public Pixel', sans-serif;
    font-size: 3.2vw;
    letter-spacing: 0.48vw;
    margin-left: 2.2vw;
}

.MintHeaderContainerAnimation{
    display: grid;
    justify-content: end;
    padding-right: 1.2vw;
    margin-top: -3vmin;
}

.MintBlocks{
  display: grid;
  grid-template-columns: 25.5vw 27.1vw 45vw;
  margin: 14.8vmin 1vw 0 1.2vw;
}

.MintFirstBlocks{
  display: grid;
  grid-template-rows: 22vmin 24.7vmin 22vmin;

}





.ExchangeBlock{
  background-color: #E4D559;
  margin-left: 1.3vw;
  border-radius: 1.8vmin;
  height: 45.89vmin;
  color: #000;
  display: grid;
  align-items: end;
  grid-template-rows: 12.3vmin 23.3vmin 5vmin;
  justify-items: center;
  }
  
.ExchangeBlockText{
    display: grid;
    justify-items: center;
}

.ExchangeBlockText h3{
    font-size: 1.67vw;
    font-weight: 500;
  }

  .ExchangeBlock hr{
    margin: 0;
    margin-top: 1vmin;
    width: 20.5vw;
    text-align: center;
    border: 0;
    border-bottom: 0.2vmin solid black;
    outline: none;
  }
  .ExchangeBlockText hr{
    margin: 0;
    margin-top: 1.43vmin;
    width: 20.5vw;
    text-align: center;
    border: 0;
    border-bottom: 0.2vmin solid black;
    outline: none;
  }

.CurrencyExchangeSection{
  width: 21vw;
  display: grid;
  grid-template-rows: 5.3vmin 10vmin 3.8vmin;
  justify-items: center;
  align-items: center;
}

.CurrencyExchangeSectionBlock{
  display: grid;
  grid-template-columns: 2.8vw auto 8.25vw 0.45vw;
  padding-left: 1vw;
  padding-bottom: 1vmin;
  align-items: center;
  width: 19.7vw;
  border-bottom: 0.2vmin solid black;
  align-content: center;
}

.CurrencyExchangeSectionBlock:nth-child(3){

    border-bottom: 0;
    margin-top: 0.8vmin;

}

.CurrencyExchangeSectionBlock span{
  font-size: 1vw;
  font-weight: 400;
  margin-top: 0.2vmin;
  width: fit-content;
}
 .CurrencyExchangeSectionBlock span b{
    font-size: 0.97vw;
 }
 
.CurrencyExchangeSectionBlock svg{
    width: 2.3vw;
    height: 4vmin;
}



.CurrencyInfoWithIconBLock{
    display: grid;
    grid-template-columns: 2.6vw 5vw;
    align-items: center;
    align-content: center;
}

.CurrencyInfoWithIconBLock img{
  width: 2.3vw;
  height: 4vmin;
}



  .LiveRatesInfoContainer{
    font-size: 1.1vw;
    font-weight: 500;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: -0.2vw;
    column-gap: 0.5vw;
  }




  /*Mint redeem input*/

  .MintRedeemBlockContainer {
    background-color: #D9D9D9;
    display: grid;
    justify-items: center;
    justify-content: center;
    width: 43.8vw;
    border-radius: 2vmin;
    height: 71vmin;
    grid-template-rows: 14vmin 12vmin;
    align-items: center;
    margin-left: 1.2vw;
}

.MintRedeemBlockButtonsContainer{
    display: grid;
    grid-template-columns: 10vw 10vw;
    column-gap: 2.6vw;
}

.MintRedeemBlockButtonsContainer button {
  color: #000;
  outline: none;
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  font-size: 1.7vw;
  padding: 0;
  margin: 0;
  margin-left: 0.45vw;
  margin-top: -0.6vmin;
  height: 7.1vmin;
  border: 0.12vw solid black;
  border-bottom: black solid 0.27vw;
  border-radius: 2.7vmin;
  cursor: pointer;
  display: grid;
  align-items: center;
  align-content: center;
  transition: all .2s;
  padding-left: 0.4vw;
  }

  .redeem-button.active {
    background-color: #8E68E6;
    color: #000;
  }

  
  .mint-button.active {
    background-color: #8E68E6;
    color: #000;
  }

  
  .redeem-text {
    height: 10vmin;
    padding: 2vmin;
    margin-top: 2vmin;
    border-radius: 2vmin;
    background-color: lightgray;
  }
  
  .mint-text {
    height: 10vmin;
    padding: 2vmin;
    margin-top: 2vmin;
    border-radius: 2vmin;
    background-color: lightgray;
  }
