:root {
  font-family: 'Prompt', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  color: rgba(255, 255, 255, 0.87);
}
h1, h2, h3, h4, h5, h6, p, span{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Public Pixel';
  src: url('./assets/Fonts/PublicPixel.ttf') format('truetype');
}