:root {
  font-family: 'Prompt', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  color: rgba(255, 255, 255, 0.87);
  overflow-x: hidden;
  /*-ms-overflow-style: none;  /* IE and Edge */
   /*scrollbar-width: none;  /* Firefox */
}

::selection {
  background: #c9c9c9;
}

body::-webkit-scrollbar{
  display: none;
}

/*::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #575757;
  border: 6px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #474747;
}
::-webkit-scrollbar-thumb:active {
  background: #575757;
}
::-webkit-scrollbar-track {
  background: #b3b3b3;
  border: 0px none #ffffff;
  border-radius: 15px;
}
::-webkit-scrollbar-track:hover {
  background: #b3b3b3;
}
::-webkit-scrollbar-track:active {
  background: #d9d9d9;
}
::-webkit-scrollbar-corner {
  background: transparent;
}*/


h1, h2, h3, h4, h5, h6, p, span{
  margin: 0;
  padding: 0;
}

img{
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@font-face {
  font-family: 'Public Pixel';
  src: url('./assets/Fonts/PublicPixel.ttf') format('truetype');
}